Astronomical visibility forecast.
Report generation date and time: {{ current_time }}

{% for day in weather_data.keys() -%}
Date: {{day.strftime("%d.%m.%Y")}}
Sunset: {{weather_data[day]["sunset"].strftime('%H:%M')}}
Moon illumination: {{weather_data[day]["moon_illumination"]}}%
Moon phase: {{weather_data[day]["moon_phase"]}}
Time with cloudiness not exceeding {{CLOUDINESS_FILTER}}%:
    {% for hour in weather_data[day]["date_time"] -%}
        {{hour.strftime('%H:%M')}} - {{weather_data[day]["date_time"][hour]}}%
    {% endfor %}
{% endfor %}